<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takemyewaste">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".ApprovedPickupDeliveryboy"
            android:exported="false" />
        <activity
            android:name=".DashboardDeliveryboy"
            android:exported="false" />
        <activity
            android:name=".dashboard_deliveryboy"
            android:exported="false" />
        <activity
            android:name=".CompletedPickupAdmin"
            android:exported="false" />
        <activity
            android:name=".CompletedPickup"
            android:exported="false" />
        <activity
            android:name=".CancelledPickupAdmin"
            android:exported="false" />
        <activity
            android:name=".CancelledPickup"
            android:exported="false" />
        <activity
            android:name=".FeedbackWebView"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".AddDeliveryAgents"
            android:exported="false" />
        <activity
            android:name=".DeliveryAgents"
            android:exported="false" />
        <activity
            android:name=".ApprovePickup"
            android:exported="false" />
        <activity
            android:name=".ProfileData"
            android:exported="false" />
        <activity
            android:name=".PickUpStatusActivity"
            android:exported="false" />
        <activity
            android:name=".user.ShowEWasteFaqUser"
            android:exported="false" />
        <activity
            android:name=".admin.AddEwasteDetails"
            android:exported="false" />
        <activity
            android:name=".admin.AddFaq"
            android:exported="false" />
        <activity
            android:name=".user.UpdateDataActivity"
            android:exported="false" />
        <activity
            android:name=".user.NewPickUpActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".admin.DashboardAdminActivity"
            android:exported="true" />
        <activity
            android:name=".user.DashboardUserActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>